:root {

--bg:#0f172a;
--card:#1e293b;
--text:#ffffff;
--accent:#22c55e;

}

body{

margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);

}

.header{

display:flex;
justify-content:space-between;
padding:15px;

}

.logo{

color:var(--accent);

}

.hero{

text-align:center;
padding:80px 20px;

}

.btn{

background:var(--accent);
padding:12px 25px;
border-radius:8px;
color:white;
text-decoration:none;

}

.features{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;

}

.card{

background:var(--card);
padding:20px;
border-radius:10px;
width:200px;
text-align:center;

}

.sidebar{

position:fixed;
top:0;
right:-250px;
width:250px;
height:100%;
background:#020617;
transition:0.3s;
padding-top:60px;

}

.sidebar a{

display:block;
padding:15px;
color:white;
text-decoration:none;

}

.themeToggle{

position:fixed;
bottom:20px;
right:20px;

}
.login-container{

max-width:350px;
margin:120px auto;
padding:30px;
background:#1e293b;
border-radius:10px;
text-align:center;

}

.login-container input{

width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:6px;

}

.login-container button{

width:100%;
padding:12px;
margin:10px 0;
background:#22c55e;
border:none;
border-radius:6px;
color:white;
cursor:pointer;

}
.dashboard{

padding:20px;
display:flex;
flex-direction:column;
gap:20px;

}

.dashboard input,
.dashboard select{

width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:none;

}

.dashboard button{

margin-top:10px;
padding:10px;
background:#22c55e;
border:none;
border-radius:6px;
color:white;

}
#qrBox{

margin-top:20px;
text-align:center;

}

#qrBox img{

width:200px;

}

